# Environment files
.env
.env.*
srcs/.env
srcs/backend/.env

# SSL keys and certificates
srcs/frontend/ssl/

# Dependency directories
node_modules
srcs/backend/node_modules/
srcs/frontend/node_modules/

