@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Background */
    --color-background: #143367;
    --color-background-secondary: #FFD248;

    /* Button */
    --color-button: #77AB55;

    /* Text */
    --color-text-white: #FFFFFF;
    --color-text-secondary: #5D5A88;
    --color-text-yellow: #ECD05F;
    --color-text-green: #77AB55;

    /* Border */
    --color-border-red: #DA483B;
    --color-border-green: #77AB55;
  }
}