@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

    /* Background */
    --color-background: #143367;
    /* --color-background-secondary: #F2F1FA; */
    /* --color-text-secondary: #afafaf; */
    /* --color-primary-dark: #423f6a; */

    /* Button */
    --color-button: #77AB55;
    /* --button-bg-dark: #5D5A88; */
    /* --button-text-light: #5D5A88;
    --button-text-dark: #fff;
    --button-border-light: rgba(103, 99, 152, 0.3);
    --button-border-dark: rgba(93, 90, 136, 0.8); */

    /* Text */
    --color-text-white: #FFFFFF;
    --color-text-yellow: #ECD05F;
    --color-text-green: #77AB55;

    /* Border */
    --color-border-red: #DA483B;
    --color-border-green: #77AB55;
  }
}