/* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

:root{
    --color-primary: #ffff;
    --color-secondary: #5D5A88;
    --color-background: #F2F1FA;
    --color-background-secondary: #F2F1FA;
    --color-text: #5D5A88;
    --color-text-secondary: #afafaf;
    --color-primary-dark: #423f6a;
}

body{
    font-family: 'DM Sans', sans-serif ;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
} */


/*
 * This file is where you will add your Tailwind directives.
 * These are required for Tailwind to process your utility classes
 * and generate the final CSS stylesheet.
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 /*
  * You can add your own custom styles here.
  * For example, this style ensures a smooth transition on all elements.
  */
 * {
     transition: all 0.3s ease-in-out;
 }
 